Django==1.4
South==0.7.5
amqplib==1.0.2
anyjson==0.3.3
celery==2.5.5
certifi==0.0.8
chardet==1.0.1
django-bootstrap-pagination==0.1.10
django-braces==0.1.1
django-celery==2.5.5
django-celery-email==1.0.3
django-celery-with-redis==2.5
django-crispy-forms==1.1.4
django-floppyforms==1.0
django-picklefield==0.2.1
-e git+https://github.com/nathanborror/django-registration.git@dc0b564b7bfb79f58592fe8ad836729a85ec17ae#egg=django_registration-dev
kombu==2.1.8
oauthlib==0.1.3
psycopg2==2.4.5
pyasn1==0.1.3
python-dateutil==1.5
redis==2.4.13
requests==0.13.1
rsa==3.1.1
wsgiref==0.1.2
